h1 {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    margin-bottom: 5px
}

img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: spin 4s linear infinite;
}

@keyframes spin{
    100% {
        transform: rotate(-360deg);
    }
}

p {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    text-decoration: none;
    color: rgb(51, 175, 175);
}

a:hover {
    text-decoration: underline;
}

#socials {
    margin-top: 35px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

#socials a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid rgb(187, 187, 187);
    text-decoration: none;
    padding: 7px;  
    background: rgb(33, 61, 86);
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 5px;
}

#socials a:hover {
    background: rgb(22, 41, 57);
}

#donations {
    margin-top: 35px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

#donations a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid rgb(187, 187, 187);
    text-decoration: none;
    padding: 7px;  
    background: rgb(9, 100, 13);
    display: inline-block;
    border-radius: 4px;
}

#donations a:hover {
    background: rgb(6, 66, 9);
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
}

html {
    height: 100%;
    height: 100dvh;
}

footer {
    color: aliceblue;
    font-family: sans-serif;
    bottom: 0px;
    position: absolute;
    text-align: right;
    width: 99%;
}

footer p {
    margin-right: 0px;
    padding-right: 20px;
    text-align: right;
}

#buttons {
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

#buttons a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid rgb(187, 187, 187);
    text-decoration: none;
    padding: 7px;
    background: rgb(86, 65, 33);
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
}

#buttons a:hover {
    background: rgb(60, 45, 23);
}

.highlight {
    color: rgb(51, 175, 175);
}

.highlight_foxfil {
    color: rgb(255, 145, 0);
}

.highlight_num {
    color: rgb(53, 196, 115);
}

#webring {
    color: aliceblue;
    font-family: sans-serif;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 99%;
}

#webring a {
    color: aliceblue;
}


#remove-fox {
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: rgb(51, 175, 175);
    font-size: 0.75rem;
}

#remove-fox:hover {
    text-decoration: underline;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.falling {
  animation: fall 2s forwards;
}